@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/league-spartan-v11-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/league-spartan-v11-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/league-spartan-v11-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/league-spartan-v11-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/league-spartan-v11-latin-700.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan";
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 13.3rem;
  padding-right: 13.3rem;
}

.header {
  height: 820px;
  background-color: #111111;
  color: #fff;
  position: relative;
  background-image: url(../images/homepage/hero-bg-desktop.jpg);
  background-position: right;
  background-repeat: no-repeat;
}

.header__logo {
  margin-top: 65px;
}

.header__title,
section__title {
  font-size: 8rem;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: -1px;
  width: 508px;
  margin-top: 15.3rem;
}
.header-subtitle,
section__subtitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 30px;
  width: 445px;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.header__btn {
  color: #fff;
  border: 1px solid #ffffff;
  background-color: transparent;
  padding: 24px 55px;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.5px;
}

/* Enjoyable place for all the family */

.enjoyable-place {
  background-image: url(../images/patterns/pattern-curve-top-right.svg);
  background-position: left;
  background-repeat: no-repeat;
}

.enjoyable-place__container {
  display: flex;
  gap: 125px;
}

.enjoyable-place__image {
  position: relative;
  bottom: 80px;
}
.enjoyable-place__text {
  margin-top: 17.7rem;
}

.enjoyable-place__title {
  margin-top: 55px;
  margin-bottom: 27px;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
}
.enjoyable-place__subtitle {
  width: 445px;
  color: #242b37;
}

/* The most locally sourced food */

.sourced-food {
  background-image: url(../images/patterns/pattern-curve-top-left.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.sourced-food__container {
  display: flex;
  gap: 125px;
  position: relative;
}

.sourced-food__text {
  margin-top: 26.6rem;
}

.sourced-food__title {
  margin-top: 5.5rem;
  margin-bottom: 2.7rem;
}

.sourced-food__subtitle {
  width: 445px;
}

.sourced-food__image {
  position: relative;
  top: 80px;
}

/* A few highlights from our menu */

.menu {
  height: 761px;
  background-color: #111;
  padding-top: 20rem;
  padding-bottom: 12rem;
  color: #fff;
}
.menu__container {
  display: flex;
  gap: 125px;
}

.menu__icon {
  margin-bottom: 5.5rem;
}
.menu__title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  width: 445px;
  margin-bottom: 2.7rem;
}
.menu__subtitle {
  width: 445px;
}
.menu__card {
  display: flex;
  flex-direction: column;
  gap: 49px;
}
.menu__card-item {
  display: flex;
  gap: 62px;
}

.menu__card-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.25px;
}
.menu__card-subtitle {
  width: 350px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
}

.menu__card-line {
  width: 540px;
  height: 1px;
  top: 2606px;
  left: 735px;
  background-color: rgba(255, 255, 255, 14.95%);
  border: 0;
}

/* Gathering section */

.gathering {
  margin: 16rem auto;
  height: 600px;
  display: flex;
  gap: 125px;
}

.gathering__text {
  margin-top: 7rem;
  width: 445px;
}
.gathering__title {
  width: 445px;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #242b37;
  margin-bottom: 1.9rem;
}
.gathering__subtitle {
  font-size: 2rem;
  font-weight: 400;
  line-height: 30px;
  color: #242b37;
}
.gathering__btn {
  padding: 0.25rem 5.5rem;
  background-color: #111111;
  margin-top: 6rem;
  color: #fff;
}
.gathering__corusel {
  margin-top: 7.9rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.gathering__coruel-title {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2.5px;
  color: #4c4c4c;
}
.gathering__corusel-text {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 2.5px;
  color: rgba(76, 76, 76, 50%);
}

/* Book */

.book {
  background-image: url(../images/homepage/ready-bg-desktop@2x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9.6rem 0 96px 0;
  color: #fff;
}
.book-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site__footer-title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.5px;
}
.site__footer-btn {
  padding: 2.5rem 5.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2.5px;
  color: #fff;
  border: 1px solid #fff;
}

/* Footer */

.site__footer {
  height: 240px;
  background-color: #111111;
  color: #fff;
  display: flex;
  align-items: center;
}
.site__footer-container {
  display: flex;
  align-items: center;
  gap: 192.58px;
}

.site__footer-logo {
  width: 103.42px;
  height: 40px;
}
.site__footer-text {
  display: flex;
  gap: 124px;
}
.site__footer-adress {
  font-style: normal;
  width: 244px;
  height: 84px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  a {
    color: #fff;
  }
}
.site__footer-time {
  width: 446px;
  height: 84px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
}
